{<<"app">>,<<"ueberauth_ameritrade">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"An Uberauth strategy for Ameritrade authentication.">>}.
{<<"elixir">>,<<"~> 1.8">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/ueberauth_ameritrade.ex">>,<<"lib/ueberauth">>,
  <<"lib/ueberauth/strategy">>,<<"lib/ueberauth/strategy/ameritrade">>,
  <<"lib/ueberauth/strategy/ameritrade/oauth.ex">>,
  <<"lib/ueberauth/strategy/ameritrade.ex">>,<<"mix.exs">>,<<"README.md">>,
  <<"LICENSE">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/mithereal/ueberauth_ameritrade">>}]}.
{<<"name">>,<<"ueberauth_ameritrade">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"ueberauth">>},
   {<<"name">>,<<"ueberauth">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.6.3">>}],
  [{<<"app">>,<<"oauth2">>},
   {<<"name">>,<<"oauth2">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.0 or ~> 2.0">>}]]}.
{<<"version">>,<<"0.6.0">>}.
